{% extends 'base.html' %}

{% block container %}

 <div id="produtoCard" class="card border-dark mb-3; cards" style="max-width: 18rem;">
  <div class="card-header">Estoque</div>
   <div class="card-body text-dark">
    <h5 class="card-title">Produto</h5>
    <p class="card-text"></p>
  </div>
</div>

 <div id="entrada_saidaCard" class="card border-dark mb-3; cards" style="max-width: 18rem;">
   <div class="card-header">Estoque</div>
    <div class="card-body text-dark">
      <h5 class="card-title">Entrada e Saída</h5>
        <p class="card-text"></p>
    </div>
  </div>

<script>
  document.getElementById("produtoCard").onclick = function() {
    window.location.href = "{% url 'produtos' %}";
  }

  document.getElementById("entrada_saidaCard").onclick = function(){
    window.location.href = "{% url 'historico' %}";
  }
</script>
{% endblock container %}