{% extends 'base.html' %}


{% block container %}

{% include 'partials/messages.html' %}


<table class="table table-striped">
  <thead>
    <tr>
      <th width="50%">Nome</th>
      <th width="30%">Código</th>
      <th width="20%"></th>
      {% include 'partials/produto_adicionar.html' %}
    </tr>
  </thead>
  <tbody>
  {% for p in produtos %}
    <tr>
      <td>{{p.nome}}</td>
      <td>{{p.codigo}}</td>
      <td>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Ações
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" method="POST" href="{% url 'deletar' p.id%}">Deletar</a>{% csrf_token %}
              <a class="dropdown-item" method="GET" href="{% url 'editar' p.id%}">Editar</a>
            </div>
          </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>

<nav aria-label="...">
  <ul class="pagination">
  {% for pagina in produtos.paginator.page_range %}

  {% if produtos.number == pagina %}
    <li class="page-item active"><a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a></li>
  {% else %}
    <li class="page-item"><a class="page-link" href="?p={{pagina}}&termo={{request.GET.termo}}">{{pagina}}</a></li>
  {%endif%}
    {% endfor %}
  </ul>
</nav>

{% endblock container %}